<div class="modal-header">
  <h4 class="modal-title pull-left">Agregar Nueva Tarea</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form novalidate (ngSubmit)="guardarTarea()" [formGroup]="forma">
    <div class="row">
      <div class="col-12">
        <div class="form-group" gtRequerido>
          <label for="tareaTitulo">Titulo de tarea</label>
          <input type="text" class="form-control form-control-sm" id="tareaTitulo" formControlName="tareaTitulo">
          <div [hidden]="forma.get('tareaTitulo').valid">Required</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group" gtRequerido>
          <label for="puntajeMaximo">Puntaje Màximo</label>
          <input type="text" class="form-control form-control-sm" id="puntajeMaximo" formControlName="puntajeMaximo">
          <div [hidden]="forma.get('puntajeMaximo').valid">Required</div>
        </div>
        <div class="form-group" gtRequerido>
          <label for="intentosMaximo">Intervalo Máx</label>
          <select class="form-control form-control-sm" id="intentosMaximo"
            formControlName="intentosMaximo">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <div [hidden]="forma.get('intentosMaximo').valid">Required</div>
        </div>
      </div>
      <div class="col-3 bordes-tarea">
        <div class="form-group" gtRequerido>
          <label for="tareaCategoria">Categoria</label>
          <select class="form-control form-control-sm" id="tareaCategoria" formControlName="tareaCategoria">
            <option value="0">Ninguna</option>
            <option value="1">Deberes</option>
            <option value="2">Participación</option>
            <option value="3">Examen</option>
            <option value="4">Prueba</option>
          </select>
          <div [hidden]="forma.get('tareaCategoria').valid">Required</div>
        </div>
        <div class="form-group" gtRequerido>
          <label for="calificacionTarea">Calificación</label>
          <select class="form-control form-control-sm" id="calificacionTarea" formControlName="calificacionTarea">
            <option value="0">Normal</option>
            <option value="1">Credito Adicional</option>
            <option value="2">Ignorar</option>
            <option value="3">No Graduado</option>
          </select>
          <div [hidden]="forma.get('calificacionTarea').valid">Required</div>
        </div>
      </div>
      <div class="col-3 bordes-tarea">
        <div class="form-group" gtRequerido>
          <label for="fechaInicioTarea">Comenzar </label>
          <input id="fechaInicioTarea" class="form-control form-control-sm" #datepickerYMD="bsDatepicker" bsDatepicker
            formControlName="fechaInicioTarea" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" required="required">
          <div [hidden]="forma.get('fechaInicioTarea').valid">Required</div>
        </div>
        <div class="form-group" gtRequerido>
          <label for="fechaFinTarea">Finaliza</label>
          <input id="fechaFinTarea" class="form-control form-control-sm" #datepickerYMD="bsDatepicker" bsDatepicker
            formControlName="fechaFinTarea" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" required="required">
          <div [hidden]="forma.get('fechaFinTarea').valid">Required</div>
        </div>
      </div>
      <div class="col-3 bordes-tarea">
        <div class="form-group" gtRequerido>
          <label for="leccion">Lección </label>
          <input type="text" class="form-control form-control-sm" id="leccion" formControlName="leccion" disabled>
          <div [hidden]="forma.get('leccion').valid">Required</div>
        </div>
        <div class="form-group" gtRequerido>
          <label for="escalaCalificacion">Escala de Calificación</label>
          <select class="form-control form-control-sm" id="escalaCalificacion"
            formControlName="escalaCalificacion">
            <option value="0">Defecto</option>
            <option value="1" data-points="">Escala estándar de calificación de aprobado / reprobado</option>
            <option value="2" data-points="">Escala de calificación regular estándar</option>
          </select>
          <div [hidden]="forma.get('escalaCalificacion').valid">Required</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 bordes-tarea">
        <div class="form-group" gtRequerido>
          <div formControlName="descripcionTarea" [ngxSummernote]="config" [ngxSummernoteDisabled]="editorDisabled"
            (blur)="onBlur()">
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-3">
        <button class="btn btn-outline-secondary btn-sm btn-block text-uppercase btn-rounded" type="button"
          (click)="cancelar()">Cancelar</button>
      </div>
      <div class="col-3">
        <button class="btn btn-primary btn-sm btn-block text-uppercase btn-rounded" type="submit"
          [disabled]="!forma.valid">Agregar</button>
      </div>
    </div>
  </form>
</div>