<p>
  panel works!
</p>
<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a (click)="agregarUsuario(3)"><i class="fa fa-exclamation-circle"></i> <span> Administradores</span></a>
        </li>
        <li class="list-group-item">
          <a (click)="agregarUsuario(4)"><i class="fa fa-users"></i> <span> Archivados</span></a>
        </li>
        <li class="list-group-item">
          <a (click)="agregarUsuario(4)"><i class="fa fa-bandcamp"></i> <span> Amigos</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a (click)="agregarUsuario(4)"><i class="fa fa-book"></i> <span> Invitados</span></a>
        </li>
        <li class="list-group-item">
          <a (click)="agregarUsuario(0)"><i class="fa fa-tachometer"></i> <span> Estudiantes</span></a>
        </li>
        <li class="list-group-item">
          <a (click)="agregarUsuario(1)"><i class="fa fa-download"></i> <span> Padres</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">

          <a (click)="agregarUsuario(0)"><i class="fa fa-wrench"></i> <span> Mis Estudiantes</span></a>
        </li>
        <li class="list-group-item">

          <a (click)="agregarUsuario(2)"><i class="fa fa-commenting-o"></i> <span> Maestros</span></a>
        </li>
        <li class="list-group-item">
          <a (click)="agregarUsuario(4)/pictures"><i class="fa fa-thumbs-up"></i> <span> Otros</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>