<div class="gt-titulos-vista">
  <h2 class="titulo">{{titulos.tituloLista}}</h2>
  <p class="titulo d-sm-none d-none"> {{titulos.subtituloLista}}</p>
  <span class="btn btn-primary btns pull-right btn-sm" (click)="nuevo()" data-toggle="tooltip" title="Nuevo">
    <i class="fa fa-plus"></i>
  </span>
  <span class="btn btn-primary btns pull-right btn-sm" (click)="guardar()" data-toggle="tooltip" title="Guardar">
    <i class="fa fa-save"></i>
  </span>
  <span class="btn btn-danger btns pull-right btn-sm" (click)="borrar()" data-toggle="tooltip" title="Borrar">
    <i class="fa fa-trash"></i>
  </span>
  <span class="btn btn-info btns pull-right btn-sm" (click)="editar()" data-toggle="tooltip" title="Editar">
    <i class="fa fa-pencil"></i>
  </span>
  <span class="btn btn-success btns pull-right btn-sm" (click)="ejecutarReporte()" data-toggle="tooltip" title="Imprimir">
    <i class="fa fa-print"></i>
  </span>
</div>