<div class="row">
  <div class="table-responsive">
    <table class="table table-bordered table-fixed table-sm">
      <thead class="bg-primary text-light">
        <tr>
          <th colspan="6" class="text-center" scope="col">Trabajos</th>
          <th class="gt-wd-75 text-center" scope="col">Quiz 3</th>
          <th class="gt-wd-75 text-center" scope="col">Ejercico 4</th>
          <th class="gt-wd-75 text-center" scope="col">Ejercicio 5</th>
          <th class="gt-wd-75 text-center" scope="col">Ejercicio Unidad</th>
          <th class="gt-wd-75 text-center" scope="col">Ejercicio Unidad</th>
          <th class="gt-wd-75 text-center" scope="col">Parcial 1</th>
          <th class="gt-wd-75 text-center" scope="col">Parcial 2</th>
          <th class="gt-wd-75 text-center" scope="col">Ejercicio 6</th>
          <th class="gt-wd-75 text-center" scope="col">Parcial 3</th>
          <th class="gt-wd-75 text-center" scope="col">Parcial 4</th>
          <th class="gt-wd-75 text-center" scope="col">Ejercicio Unidad</th>
          <th class="gt-wd-75 text-center" scope="col">Ejercicio 6</th>
        </tr>
        <tr>
          <th colspan="6" class="text-right" scope="col">Categoria</th>
          <th class="gt-wd-75 text-center" scope="col">Prueba Corta</th>
          <th class="gt-wd-75 text-center" scope="col">Tarea</th>
          <th class="gt-wd-75 text-center" scope="col">Examen</th>
          <th class="gt-wd-75 text-center" scope="col">Tarea</th>
          <th class="gt-wd-75 text-center" scope="col">Tarea</th>
          <th class="gt-wd-75 text-center" scope="col">Prueba Corta</th>
          <th class="gt-wd-75 text-center" scope="col">Prueba Corta</th>
          <th class="gt-wd-75 text-center" scope="col">Examen</th>
          <th class="gt-wd-75 text-center" scope="col">Prueba Corta</th>
          <th class="gt-wd-75 text-center" scope="col">Prueba Corta</th>
          <th class="gt-wd-75 text-center" scope="col">Tarea</th>
          <th class="gt-wd-75 text-center" scope="col">Examen</th>
        </tr>
        <tr>
          <th colspan="6" class="text-right" scope="col">Fecha límite</th>
          <th class="gt-wd-75 text-center" scope="col">01/01/2019</th>
          <th class="gt-wd-75 text-center" scope="col">04/02/2019</th>
          <th class="gt-wd-75 text-center" scope="col">06/03/2019</th>
          <th class="gt-wd-75 text-center" scope="col">09/04/2019</th>
          <th class="gt-wd-75 text-center" scope="col">11/05/2019</th>
          <th class="gt-wd-75 text-center" scope="col">14/06/2019</th>
          <th class="gt-wd-75 text-center" scope="col">16/07/2019</th>
          <th class="gt-wd-75 text-center" scope="col">19/08/2019</th>
          <th class="gt-wd-75 text-center" scope="col">21/09/2019</th>
          <th class="gt-wd-75 text-center" scope="col">24/10/2019</th>
          <th class="gt-wd-75 text-center" scope="col">26/11/2019</th>
          <th class="gt-wd-75 text-center" scope="col">29/12/2019</th>
        </tr>
        <tr>
          <th class="gt-wd-25"></th>
          <th class="gt-wd-250">Estudiante</th>
          <th class="gt-wd-25"><i class="fa fa-circle"></i></th>
          <th class="gt-wd-25"><i class="fa fa-minus-circle"></i></th>
          <th class="gt-wd-25"><i class="fa fa-exclamation-triangle"></i></th>
          <th class="gt-wd-25"><i class="fa fa-times-circle"></i></th>
          <th class="gt-wd-75 text-center" scope="col">100/100</th>
          <th class="gt-wd-75 text-center" scope="col">100/100</th>
          <th class="gt-wd-75 text-center" scope="col">100/100</th>
          <th class="gt-wd-75 text-center" scope="col">100/100</th>
          <th class="gt-wd-75 text-center" scope="col">100/100</th>
          <th class="gt-wd-75 text-center" scope="col">100/100</th>
          <th class="gt-wd-75 text-center" scope="col">100/100</th>
          <th class="gt-wd-75 text-center" scope="col">100/100</th>
          <th class="gt-wd-75 text-center" scope="col">100/100</th>
          <th class="gt-wd-75 text-center" scope="col">100/100</th>
          <th class="gt-wd-75 text-center" scope="col">100/100</th>
          <th class="gt-wd-75 text-center" scope="col">100/100</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nota of notas">
          <td></td>
          <td>{{nota.estudiante}}</td>
          <td class="gt-wd-25">{{nota.noEntregado}}</td>
          <td class="gt-wd-25">{{nota.incompleto}}</td>
          <td class="gt-wd-25">{{nota.ausente}}</td>
          <td class="gt-wd-25">{{nota.justificado}}</td>
          <td class="text-right gt-wd-75">{{nota.nota1}}</td>
          <td class="text-right gt-wd-75">{{nota.nota2}}</td>
          <td class="text-right gt-wd-75">{{nota.nota3}}</td>
          <td class="text-right gt-wd-75">{{nota.nota5}}</td>
          <td class="text-right gt-wd-75">{{nota.nota6}}</td>
          <td class="text-right gt-wd-75">{{nota.nota7}}</td>
          <td class="text-right gt-wd-75">{{nota.nota8}}</td>
          <td class="text-right gt-wd-75">{{nota.nota9}}</td>
          <td class="text-right gt-wd-75">{{nota.nota10}}</td>
          <td class="text-right gt-wd-75">{{nota.nota11}}</td>
          <td class="text-right gt-wd-75">{{nota.nota12}}</td>
          <td class="text-right gt-wd-75">{{nota.nota13}}</td>
        </tr>

      </tbody>

    </table>
  </div>
</div>