<div class="modal-header">
  <h4 class="modal-title pull-left">Agregar nueva clase</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form novalidate (ngSubmit)="guardar()" [formGroup]="forma">
    <tabset type="pills">
      <tab heading="Descripción">
        <div class="row">
          <div class="col-12">
            <div class="form-group"  gtRequerido>
              <label for="clase">Nombre</label>
              <input type="text" class="form-control form-control-sm" id="clase" formControlName="clase" required="required">
              <div [hidden]="forma.get('clase').valid">Requerido</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="form-group"  gtRequerido>
              <label for="estiloCursoId">Estilo</label>
              <select name="estiloCursoId" class="form-control form-control-sm" id="estiloCursoId"
                formControlName="estiloCursoId" required="required">
                <option value="0">-- Instructor --</option>
                <option value="1">-- Hibrido --</option>
                <option value="2">-- A su propio ritmo --</option>
              </select>
            </div>
            <div class="form-group"  gtRequerido>
              <label for="codigoAcceso">¿Código de acceso?</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control form-control-sm" id="codigoAcceso" formControlName="codigoAcceso"
                  aria-describedby="button-addon" disabled required="required">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary btn-sm" type="button" id="button-addon"
                    (click)="generarCodigo()"><i class="fa fa-pencil"></i></button>
                </div>
              </div>
              <div [hidden]="forma.get('codigoAcceso').valid">Requirido</div>
            </div>
          </div>
          <div class="col-4 bordes-tarea">
            <div class="form-group"  gtRequerido>
              <label for="fechaInicio">Comenzar </label>
              <input id="fechaInicio" class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker
                formControlName="fechaInicio" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" required="required">
              <div [hidden]="forma.get('fechaInicio').valid">Required</div>
            </div>
            <div class="form-group"  gtRequerido>
              <label for="fechaFin">Finaliza</label>

              <input id="fechaFin" class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker
                formControlName="fechaFin" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" required="required">
              <div [hidden]="forma.get('fechaFin').valid">Required</div>
            </div>
          </div>
          <div class="col-4 bordes-tarea">
            <div class="form-group"  gtRequerido>
              <label for="catedra">Materia</label>
              <select name="catedra" class="form-control form-control-sm" id="materiaId" formControlName="catedra"
                required="required">
                <option value="">{{'-- Sin Seleccionar --'}}</option>
                <optgroup *ngFor="let cat of categoria; let i = index" label="{{cat.descripcion}}">
                  <option *ngFor="let dCate of cat.detalle" [value]="dCate.id">{{dCate.descripcion}}</option>
                </optgroup>
              </select>
            </div>
            <div class="form-group"  gtRequerido>
              <label for="grado">Grado</label>
              <input type="text" class="form-control form-control-sm" id="grado" formControlName="grado" required="required">
              <div [hidden]="forma.get('grado').valid">Requerido</div>
            </div>
          </div>
        </div>
        <div class="row"><br></div>
      </tab>
      <tab heading="Opciones">
        <div class="row">
          <div class="col-6">
            <div class="form-group"  gtRequerido>
              <label for="idioma">Idioma</label>
              <select class="form-control form-control-sm" id="idioma" formControlName="idioma" required="required">
                <option value="0">Español</option>
                <option value="1">Ingles</option>
                <option value="2">Aleman</option>
                <option value="3">Francies</option>
                <option value="4">Italiano</option>
                <option value="5">Portugues</option>
              </select>
              <div [hidden]="forma.get('idioma').valid">Requerido</div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group"  gtRequerido>
              <label for="zonaHoraria">Zona Horaria</label>
              <input type="text" class="form-control form-control-sm" id="zonaHoraria" formControlName="zonaHoraria" required="required">
              <div [hidden]="forma.get('zonaHoraria').valid">Requerido</div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group"  gtRequerido>
              <label for="curso">Curso</label>
              <input type="text" class="form-control form-control-sm" id="curso" formControlName="curso" required="required">
              <div [hidden]="forma.get('curso').valid">Requerido</div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group"  gtRequerido>
              <label for="seccion">Sección</label>
              <input type="text" class="form-control form-control-sm" id="seccion" formControlName="seccion" required="required">
              <div [hidden]="forma.get('seccion').valid">Requerido</div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group"  gtRequerido>
              <label for="semestre">Semestre</label>
              <input type="text" class="form-control form-control-sm" id="semestre" formControlName="semestre" required="required">
              <div [hidden]="forma.get('semestre').valid">Requerido</div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group"  gtRequerido>
              <label for="creditos">Creditos</label>
              <input type="text" class="form-control form-control-sm" id="creditos" formControlName="creditos" required="required">
              <div [hidden]="forma.get('creditos').valid">Requerido</div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group"  gtRequerido>
              <label for="escalaCalificacion">Escala de Calificación</label>
              <select class="form-control form-control-sm" id="escalaCalificacion" formControlName="escalaCalificacion" required="required">
                <option value="0">Escala de Calificacion Estandar</option>
                <option value="1">Escala de Calificacion Aprobado / Repobado</option>
              </select>
              <div [hidden]="forma.get('escalaCalificacion').valid">Requerido</div>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
    <div class="row justify-content-end">
      <div class="col-3">
        <button class="btn btn-outline-secondary btn-sm btn-block text-uppercase btn-rounded" type="button"
          (click)="cancelar()">Cancelar</button>
      </div>
      <div class="col-3">
        <button class="btn btn-primary btn-sm btn-block text-uppercase btn-rounded" type="submit"
          [disabled]="!forma.valid">Agregar</button>
      </div>
    </div>
  </form>
</div>