<p>
  administracion works!
</p>
<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/#/nosotros"><i class="fa fa-exclamation-circle"></i> <span> About</span></a>
        </li>
        <li class="list-group-item">
          <a href="/#/cuentas-usuarios"><i class="fa fa-users"></i> <span> Accounts</span></a>
        </li>
        <li class="list-group-item disabled" aria-disabled="true">
          <a href="/#/carreras"><i class="fa fa-bandcamp"></i> <span> Carreras</span></a>
        </li>
        <li class="list-group-item" aria-disabled="true">
          <a href="/#/ciclos/1/grados-secciones"><i class="fa fa-comments"></i> <span> Grados y Secciones</span></a>
        </li>

        <li class="list-group-item">
          <a href="/#/calendario"><i class="fa fa-calendar"></i> <span> Calendario</span></a>
        </li>

        <li class="list-group-item">
          <a href="/#/catalogo/lista-catalogo"><i class="fa fa-windows"></i> <span> Catalog</span></a>
        </li>

        <li class="list-group-item">
          <a href="/#/nuevos-ingresos"><i class="fa fa-windows"></i> <span> Inscripciones</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/#/clases/lista-clases"><i class="fa fa-book"></i> <span> Classes</span></a>
        </li>
        <li class="list-group-item">
          <a href="/#/panel/panel-control"><i class="fa fa-tachometer"></i> <span> Dashboard</span></a>
        </li>
        <li class="list-group-item disabled" aria-disabled="true">
          <a href="/#/"><i class="fa fa-download"></i> <span> Export</span></a>
        </li>
        <li class="list-group-item"  aria-disabled="true">
          <a href="/#/alumnos"><i class="fa fa-trophy"></i> <span> Alumnos </span></a>
        </li>
        <li class="list-group-item disabled" aria-disabled="true">

          <a href="/#/"><i class="fa fa-line-chart"></i> <span> Grading scales</span></a>
        </li>
        <li class="list-group-item disabled" aria-disabled="true">

          <a href="/#/"><i class="fa fa-upload"></i> <span> Import</span></a>
        </li>
        <li class="list-group-item disabled" aria-disabled="true">

          <a href="/#/"><i class="fa fa-shopping-cart"></i> <span> E-commerse</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item disabled" aria-disabled="true">
          <a href="/#/" aria-disabled="true"><i class="fa fa-wrench"></i> <span> LTI</span></a>
        </li>
        <li class="list-group-item disabled" aria-disabled="true">

          <a href="/#/"><i class="fa fa-commenting-o"></i> <span> Messages</span></a>
        </li>
        <li class="list-group-item disabled" aria-disabled="true">

          <a href="/#/"><i class="fa fa-thumbs-up"></i> <span> Moderate</span></a>
        </li>
        <li class="list-group-item" aria-disabled="true">

          <a href="/#/profesores"><i class="fa fa-certificate"></i> <span> Profesores</span></a>
        </li>
        <li class="list-group-item disabled" aria-disabled="true">

          <a href="/#/"><i class="fa fa-lock"></i> <span> Policies</span></a>
        </li>
        <li class="list-group-item disabled" aria-disabled="true">

          <a href="/#/"><i class="fa fa-globe"></i> <span> Portal</span></a>
        </li>
        <li class="list-group-item disabled" aria-disabled="true">
          <a href="/#/"><i class="fa fa-star-o"></i> <span> Subjects</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-quizzes></app-quizzes>