<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/#/nosotros"><i class="fa fa-exclamation-circle"></i> <span> Acerca de Pensamiento Digital</span></a>
        </li>
        <!--li class="list-group-item">
          <a href="/#/cuentas-usuarios"><i class="fa fa-users"></i> <span> Accounts</span></a>
        </li-->
        <li class="list-group-item" aria-disabled="true">
          <a href="/#/carreras"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <span> Carreras</span>
          </a>
        </li>
        <li class="list-group-item" aria-disabled="true">
          <a href="/#/ciclos"><i class="fa fa-comments"></i> <span> Grados y Secciones</span></a>
        </li>

        <li class="list-group-item">
          <a href="/#/calendario"><i class="fa fa-calendar"></i> <span> Calendario</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/#/catalogo/lista-catalogo"><i class="fa fa-windows"></i> <span> Catalogo</span></a>
        </li>

        <li class="list-group-item">
          <a href="/#/nuevos-ingresos"><i class="fa fa-windows"></i> <span> Inscripciones</span></a>
        </li>
        <li class="list-group-item">
          <a href="/#/clases/lista-clases"><i class="fa fa-book"></i> <span> Cursos</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">

        <li class="list-group-item" aria-disabled="true">

          <a href="/#/profesores"><i class="fa fa-certificate"></i> <span> Profesores</span></a>
        </li>
        <li class="list-group-item">
          <a href=""><i class="fa fa-tachometer"></i> <span> Dashboard</span></a>
        </li>
        <li class="list-group-item" aria-disabled="true">
          <a href="/#/alumnos"><i class="fa fa-trophy"></i> <span> Alumnos </span></a>
        </li>

      </ul>
    </div>
  </div>
</div>

<!--app-quizzes></app-quizzes-->