<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile">
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
            <img src="../assets/images/users/profile.png" alt="user" />
            <span class="hide-menu">Nombre Usuario </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="javascript:void()">Mi Perfil </a></li>
            <li><a href="javascript:void()">Mi Balance</a></li>
            <li><a href="javascript:void()">Inbox</a></li>
            <li><a routerLinkActive="active" routerLink="/account-settings"> Configuración de cuenta</a></li>
            <li><a href="javascript:void()">Cerrar Sesión</a></li>
          </ul>
        </li>
        <li class="nav-devider"></li>
        <li class="nav-small-cap">PERSONAL</li>

        <li class="user-profile" *ngFor="let menu of menuCtrl.modulos">
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false" routerLinkActive="active"
            [routerLink]="[menu.url]">
            <i class={{menu.icono}}>
              <div style="font-size: 13px !important;">{{menu.nombre}}</div>

            </i>
          </a>
          <ul aria-expanded="false" class="collapse" *ngFor="let submenu of menu.subMenu">
            <li><a routerLinkActive="active" [routerLink]="[submenu.url]">{{submenu.nombre}} </a></li>
          </ul>
        </li>
        
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->