<form>
  <div class="d-flex justify-content-end">
    <button data-toggle="tooltip" type="button" class="btn btn-primary btn-white text-white ml-1" (click)="nuevo()"
      title="Nuevo Profesor">
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <div *ngIf="!numeroRegistro" class="d-flex justify-content-center">
    <h1>No hay datos <i class="fa fa-database text-danger"></i></h1>
  </div>
  <div class="row" *ngIf="numeroRegistro">
    <table class="table table-striped">
      <thead class="bg-primary text-white">
        <tr>
          <th>Nombre</th>
          <th class="gt-wd-150">Inicio de Labores</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lst of listaProfesor; let i = index" (click)="edicion(lst.id)">
          <td>{{lst.primerNombre}} - {{lst.primerApellido}}</td>
          <td>{{lst.establecimiento.fechaInicio}}</td>
        </tr>
      </tbody>
    </table>
  </div>


  aqui empieza

  <p>RxCompoent.message: {{message}}</p>
  <button
    [disabled]="service.started$ | async"
    (click)="listen()"
  >listen</button>
  <p>lang: en-EN</p>
  <p>grammars: none</p>


  siguiente aqui empieza
  <div>
    <p *ngFor="let text of contents">{{text}}</p>
  </div>
  <div>
    <button (click)="speech()">
      speech
    </button>
    <button (click)="resume()">
      resume
    </button>
    <button (click)="pause()">
      pause
    </button>
    <button (click)="cancel()">
      cancel
    </button>
  </div>

</form>