<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-vision-tab" data-toggle="tab" href="#nav-vision" role="tab"
      aria-controls="nav-vision" aria-selected="true">Visión general</a>
    <a class="nav-item nav-link" id="nav-tipoCuenta-tab" data-toggle="tab" href="#nav-tipoCuenta" role="tab"
      aria-controls="nav-tipoCuenta" aria-selected="false">Tipo de Cuenta</a>
    <a class="nav-item nav-link" id="nav-agregarCuenta-tab" data-toggle="tab" href="#nav-agregarCuenta" role="tab"
      aria-controls="nav-agregarCuenta" aria-selected="false">Crear Cuentas</a>
      <a class="nav-item nav-link" id="nav-email-tab" data-toggle="tab" href="#nav-email" role="tab"
      aria-controls="nav-email" aria-selected="false">Crear Via Email</a>

      <a class="nav-item nav-link" id="nav-registrate-tab" data-toggle="tab" href="#nav-registrate" role="tab"
      aria-controls="nav-registrate" aria-selected="false">Regístrate</a>

      <a class="nav-item nav-link" id="nav-campos-tab" data-toggle="tab" href="#nav-campos" role="tab"
      aria-controls="nav-campos" aria-selected="false">Campos</a>
      <a class="nav-item nav-link" id="nav-perfiles-tab" data-toggle="tab" href="#nav-perfiles" role="tab"
      aria-controls="nav-perfiles" aria-selected="false">Perfiles</a>
      <a class="nav-item nav-link" id="nav-reglas-tab" data-toggle="tab" href="#nav-reglas" role="tab"
      aria-controls="nav-reglas" aria-selected="false">Reglas</a>
      <a class="nav-item nav-link" id="nav-inactividad-tab" data-toggle="tab" href="#nav-inactividad" role="tab"
      aria-controls="nav-inactividad" aria-selected="false">Inactividad</a>
      <a class="nav-item nav-link" id="nav-avatares-tab" data-toggle="tab" href="#nav-avatares" role="tab"
      aria-controls="nav-avatares" aria-selected="false">Avatares</a>
      <a class="nav-item nav-link" id="nav-personalizado-tab" data-toggle="tab" href="#nav-personalizado" role="tab"
      aria-controls="nav-personalizado" aria-selected="false">Personalizado</a>
      <a class="nav-item nav-link" id="nav-mas-tab" data-toggle="tab" href="#nav-mas" role="tab"
      aria-controls="nav-mas" aria-selected="false">Mas...</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-vision" role="tabpanel" aria-labelledby="nav-vision-tab">...</div>
  <div class="tab-pane fade" id="nav-tipoCuenta" role="tabpanel" aria-labelledby="nav-tipoCuenta-tab">...</div>
  <div class="tab-pane fade" id="nav-agregarCuenta" role="tabpanel" aria-labelledby="nav-agregarCuenta-tab">...</div>
  <div class="tab-pane fade" id="nav-email" role="tabpanel" aria-labelledby="nav-email-tab">...</div>
  <div class="tab-pane fade" id="nav-registrate" role="tabpanel" aria-labelledby="nav-registrate-tab">...</div>
  <div class="tab-pane fade" id="nav-campos" role="tabpanel" aria-labelledby="nav-campos-tab">...</div>
  <div class="tab-pane fade" id="nav-perfiles" role="tabpanel" aria-labelledby="nav-perfiles-tab">...</div>
  <div class="tab-pane fade" id="nav-inactividad" role="tabpanel" aria-labelledby="nav-inactividad-tab">...</div>
  <div class="tab-pane fade" id="nav-avatares" role="tabpanel" aria-labelledby="nav-avatares-tab">...</div>
  <div class="tab-pane fade" id="nav-personalizado" role="tabpanel" aria-labelledby="nav-personalizado-tab">...</div>
  <div class="tab-pane fade" id="nav-mas" role="tabpanel" aria-labelledby="nav-mas-tab">...</div>

</div>