<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let clase of objeto; let i=index">
      <div class="card">
        <img class="card-img-top" [src]="clase.imagen" alt="Card image cap">
        <div class="card-body" (click)="mostrarCurso(clase.id)">
          <h5 class="card-title">{{clase.titulo}}</h5>
          <p class="card-text">{{clase.descripcion}}</p>
          <div>
            <div class="float-left">
              <input type="checkbox" class="form-check-input" [id]="'clase' + clase.id">
              <label class="form-check-label" [for]="'clase' + clase.id"></label>
            </div>
            <!--div class="float-right">
              {{clase.secciones.length}} Secciones
            </div-->
          </div>
        </div>
      </div>
    </div>
  </div>