<div class="row">
  <div class="float-right col-md-6 col-xs-12 col-sm-12">
    <img src="../../../../../assets/images/logo-icon.png" class="rounded float-left" alt="..." width="600" height="350"
      style="height:350px;">
  </div>
  <div class="float-right col-md-6 col-xs-12 col-sm-12">
    <h5 class="title">Pensamiento Digital</h5>

    <p class="text-justify">Es una plataforma de aprendizaje en línea. Está dirigido para personas
      inmersas en las instituciones educativas, no importando su roll. ​ A diferencia de los programas
      académicos MOOC conducidos por tradicionales cursos de trabajo creados por el colegio,
      Pensamiento Digital ha definido 2 rolles dentro de su herramienta, el primero es el usuario
      creador de contenido y el segundo es el usuario estudiante, que tendrá acceso a diversos
      contenidos de los usuarios creadores.</p>

    <p class="text-justify" s><b>Pensamiento Digital</b> es una herramienta que permite crear cursos en línea a través
      de la carga
      de contenidos, ofreciendo de esta manera un acceso ilimitado desde cualquier lugar, lo único
      que tiene que tener el usuario a la mano es un dispositivo con acceso a Internet y listo.
      Las facilidades que ofrece esta herramienta, además de la evaluación al estudiante por medio
      de un mecanismo de ponderaciones, permite asignación de cursos en el horario que mejor se
      adapte a su estilo de vida.</p>

    <p>Es la compañía líder en Guatemala de soluciones específicas para instituciones educativas, con una experiencia de
      cerca de 60 instalaciones en instituciones educativas en toda la República.</p>

  </div>

  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12" style="background-color: #B1B864;">
      <h5>NUESTRA TECNOLOGIA</h5>
      <p class="text-justify">Utilizamos tecnologías compatible entre computadores y moviles, dando al usuario una mejor
        experiencia al
        utilizar nuestra herramientas de tecnologia</p>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12"  style="background-color: #B1B864;">
      <h5>INNOVACIÓN CONSTANTE</h5>
      <p class="text-justify">Soluciones Integrales WT se mantiene en constante innovación, con el objetivo de estar mas
        cerca del cliente y que nuestro consumidor quede satisfecho con la calidad de producto que adquiera.</p>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="background-color: #B1B864;" >
      <h5>SOPORTE</h5>
      <p>Brindaos soporte tecnico de nuestra aplicaciones 24/7</p>
    </div>
  </div>
</div>