<div class="card-deck">
    <div class="card" *ngFor="let obj of objeto; let i = index">
        <img [src]="obj.imagen" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">titulo</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>







<div class="card-deck">
    <div class="col-md-4" *ngFor="let obj of objeto; let i = index">
        <div class="card">
            <div>
                <a class="quick_edit_icon" data-toggle="collapse" [href]="'#collapse' + i" role="button"
                    aria-expanded="false" [attr.aria-controls]="'collapse'+1">
                    <i class="fa fa-cog inverted"></i>
                    <span class="textOffScreen">Quick edit this lesson</span>
                </a>

            </div>
            <div class="collapse quick_edit_box" [id]="'collapse' + i">
                <div class="card card-body">
                    <div>
                        <div class="arrow"></div>
                        <label for="tile_name_lesson_6233670">Descripciòn</label>
                        <input id="tile_name_lesson_6233670" type="text" class="form-control" [value]="obj.descripcion"
                            maxlength="100">


                        <label for="tile_color_lesson_6233670">Color</label>
                        <input id="tile_color_lesson_6233670" class="jscolor {position:'top'} form-control"
                            autocomplete="off"
                            style="background-image: none; background-color: rgb(95, 177, 170); color: rgb(0, 0, 0);">

                        <div class="tile_colors">
                            <a href="javascript:void(0)"
                                onclick="update_tile_color_input('#tile_color_lesson_6233670', '#569a96');"
                                style="background-color: #569a96"><span class="textOffScreen">Preset color 1</span></a>
                            <a href="javascript:void(0)"
                                onclick="update_tile_color_input('#tile_color_lesson_6233670', '#5fb1aa');"
                                style="background-color: #5fb1aa"><span class="textOffScreen">Preset color 2</span></a>
                            <a href="javascript:void(0)"
                                onclick="update_tile_color_input('#tile_color_lesson_6233670', '#97abaf');"
                                style="background-color: #97abaf"><span class="textOffScreen">Preset color 3</span></a>
                            <a href="javascript:void(0)"
                                onclick="update_tile_color_input('#tile_color_lesson_6233670', '#E47E78');"
                                style="background-color: #E47E78"><span class="textOffScreen">Preset color 4</span></a>
                        </div>
                        <br>

                        <a class="options_btn" onclick="initQuickEditBox(item);" href="javascript:void(0)">
                            <i class="fa fa-picture-o"></i>Change Picture
                        </a>
                        <div class="form-group">
                            <label for="cargarId">Imagen</label>
                            <input type="file" class="form-control-file" id="cargarId"
                                (change)="cargarInfo( $event.target.files )">
                        </div>

                        <div class="text-center">
                            <button type="button" id="cancel_btn" class="btn btn-outline-secondary"
                                (click)="cancelar()">
                                Cancel
                            </button>

                            <button type="button" id="save_btn" class="ml5 btn btn-primary"
                                (click)="actualizarDetalleCatalogo(obj)">
                                Save
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <img [src]="obj.imagen" class="card-img-top tamanioImg" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{obj.descripcion}}</h5>
                <p class="card-text">Curso</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">4 Cursos</small>
            </div>
        </div>
    </div>
</div>