<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let leccion of objeto; let i=index">
    <div class="card">
      <img class="card-img-top" [src]="leccion.imagen" alt="Card image cap">
      <div class="card-body" (click)="mostrarLeccion()">
        <h5 class="card-title">{{leccion.titulo}}</h5>
        <p class="card-text">{{leccion.descripcion}}</p>
        <div>
          <div class="float-left">
            <input type="checkbox" class="form-check-input" [id]="leccion.id">
            <label class="form-check-label" [for]="leccion.id"></label>
          </div>
          <div class="float-right">
            {{leccion.secciones.length}} Secciones
          </div>
        </div>
      </div>
    </div>
  </div>
</div>