<form>
  <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general"
        aria-selected="true">Información General</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="responsable-tab" data-toggle="tab" href="#responsable" role="tab"
        aria-controls="responsable" aria-selected="false">Responsable</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="sistema-tab" data-toggle="tab" href="#sistema" role="tab" aria-controls="sistema"
        aria-selected="false">Ingreso Sistema</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="nombreAlumno">Identificación</label>
              <input type="text" name="nombreAlumno" id="nombreAlumno" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="genero">Genero</label>
              <select name="genero" class="form-control form-control-sm" id="genero">
                <option value="0">-- Masculino --</option>
                <option value="1">-- Femenino --</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="nombreAlumno">Nombres</label>
              <input type="text" name="nombreAlumno" id="nombreAlumno" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="nombreAlumno">Apellidos</label>
              <input type="text" name="nombreAlumno" id="nombreAlumno" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="nombreAlumno">Fecha de nacimiento</label>
              <input type="date" name="nombreAlumno" id="nombreAlumno" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="nombreAlumno">Dirección</label>
              <input type="text" name="nombreAlumno" id="nombreAlumno" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="telefono">Teléfono</label>
              <input type="text" name="telefono" id="telefono" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="facebook">Facebook</label>
              <input type="text" name="facebook" id="facebook" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="email">Correo</label>
              <input type="email" name="email" id="email" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="skype">Skype</label>
              <input type="text" name="skype" id="skype" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="responsable" role="tabpanel" aria-labelledby="responsable-tab">
      <div class="col-md-12">
        <div class="row">

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="nombresResponsable">Nombres</label>
              <input type="text" name="nombresResponsable" id="nombresResponsable" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="apellidosResponsable">Apellidos</label>
              <input type="text" name="apellidosResponsable" id="apellidosResponsable" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="identificacionResponsable">Identificación</label>
              <input type="text" name="identificacionResponsable" id="identificacionResponsable" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="parentesco">Parentesco</label>
              <select name="parentesco" id="parentesco" class="form-control">
                <option value="padre">Padre</option>
                <option value="madre">Madre</option>
                <option value="madre">Hermano</option>
                <option value="madre">Hermana</option>
                <option value="madre">Tio</option>
                <option value="madre">Tia</option>
                <option value="madre">Abuelo</option>
                <option value="madre">Abuela</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="telefonoResponsable">Teléfono Casa</label>
              <input type="text" name="telefonoResponsable" id="telefonoResponsable" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="movilResponsable">Teléfono Movil</label>
              <input type="text" name="movilResponsable" id="movilResponsable" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="sistema" role="tabpanel" aria-labelledby="responsable-tab">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="userId">USER ID</label>
              <input type="text" name="userId" id="userId" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>