<form>
  <div class="d-flex justify-content-end">
    <button data-toggle="tooltip" type="button" class="btn btn-primary btn-white text-white ml-1" (click)="nuevo()"
      title="Nuevo Alumno">
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <div *ngIf="!numeroRegistro" class="d-flex justify-content-center">
    <h1>No hay datos <i class="fa fa-database text-danger"></i></h1>
  </div>
  <div class="row" *ngIf="numeroRegistro">
    <table class="table table-striped">
      <thead class="bg-primary text-white">
        <tr>
          <th>Nombre</th>
          <th class="gt-wd-150">Inicio de Labores</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lst of listaAlumnos; let i = index" (click)="edicion(lst.id)">
          <td>{{lst.primerNombre}} - {{lst.primerApellido}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</form>