.gt-wd-25{width: 25px;}
.gt-wd-50{width: 50px;}
.gt-wd-75{width: 75px;}
.gt-wd-100{width: 100px;}
.gt-wd-125{width: 125px;}
.gt-wd-150{width: 150px;}
.gt-wd-200{width: 200px;}
.gt-wd-225{width: 225px;}
.gt-wd-250{width: 250px;}
.gt-wd-300{width: 300px;}
.gt-wd-325{width: 325px;}
.gt-wd-350{width: 350px;}
.gt-wd-375{width: 375px;}
.gt-wd-400{width: 400px;}
.gt-wd-425{width: 425px;}
.gt-wd-450{width: 450px;}
.gt-wd-475{width: 475px;}
.gt-wd-500{width: 500px;}


#themecolors a{
    cursor: pointer;
}

.panel-piluku {
    clear: both;
    background-color: #FFFFFF;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    border: 1px solid #dce1ea;
    border-radius: 0px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body {
    padding: 15px;
}

.panel-piluku > .panel-heading {
    border-bottom: 1px solid #e9e9e9;
    font-weight: normal;
    background: #f9f9f9;
    display: table;
    width: 100%;
}

.btn-file-upload {
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0px 15px;
    background: #489ee7;
    border-width: 0px;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 400;
}

.bs-datepicker-container {
    padding: 6px;
}
.modal-header {
    background-color: #1e88e5 !important;
    color: #FFFFFF;
}

::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background: gray -300;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  input[formcontrolname].ng-valid:not(.ng-pristine) {
    border-left: 0.25rem solid green;
  }
  
  input[formcontrolname].ng-invalid:not(.ng-pristine) {
    border-left: 0.25rem solid red;
  }
  
  textarea[formcontrolname].ng-valid:not(.ng-pristine) {
    border-left: 0.25rem solid green;
  }
  
  textarea[formcontrolname].ng-invalid:not(.ng-pristine) {
    border-left: 0.25rem solid red;
  }

input[type=number].gt-spinner-off::-webkit-inner-spin-button, 
input[type=number].gt-spinner-off::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number].spinner-off::-webkit-inner-spin-button, 
input[type=number].spinner-off::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=date].gt-spinner-off::-webkit-inner-spin-button, 
input[type=date].gt-spinner-off::-webkit-outer-spin-button,
input[type=date].gt-dropdown-off::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  margin: 0; 
}
input[type=date].spinner-off::-webkit-inner-spin-button, 
input[type=date].spinner-off::-webkit-outer-spin-button,
input[type=date].gt-dropdown-off::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  margin: 0; 
}

.noVisible{
    visibility: hidden !important;
  }

  .gt-seleccionado {
  font-weight: bold;
  font-style: italic;
  background: gray !important;
}

.gt-asterisco::after {
    content:" *";
    color: red;
    font-weight: bolder;
}


.gt-asteriscod::after{
    content:" **";
    color: red;
    font-weight: bolder;
}
[required] {
    background-color: beige;
  }
