{{estado}}


<form>
  <app-encabezado-pagina optNew='nueva-marca'></app-encabezado-pagina>
  <div class="row">
    <div class="col-sm-12 col-md-2 col-lg-2">
      <div class="form-group">
        <label for="codigoMarca">Código</label>
        <input type="text" class="form-control" id="codigoMarca" placeholder="Ingrese codigo Marca"
        [(ngModel)]="objeto.codigo" [ngModelOptions]="{standalone: true}">
        <small id="codigoHelp" class="form-text text-muted">Debe ingresar un codigo alfanumerico que identifique la marca.</small>
      </div>
    </div>
    <div class="col-sm-12 col-md-10 col-lg-10">
      <div class="form-group">
        <label for="descripcionMarca">Descripción</label>
        <input type="text" class="form-control" id="descripcionMarca" placeholder="Ingrese descripción de marca"
        [(ngModel)]="objeto.descripcion" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
  </div>
</form>