<p>
  cursos works!
</p>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" (click)="mostrar(1)">Video</button>
  <button type="button" class="btn btn-secondary" (click)="mostrar(2)">URL</button>
  <button type="button" class="btn btn-secondary" (click)="mostrar(3)">PDF</button>
  <button type="button" class="btn btn-secondary" (click)="mostrar(0)">imagen</button>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <form class="form" ng-submit="seleccionar()" novalidate>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--ul class="list-group" *ngFor="let obj of objeto.contenido" data-toggle="collapse" aria-expanded="false" [attr.aria-controls]="obj.refNombre" [attr.data-target]="obj.refTarget"> {{obj.codigoContenido}} - {{obj.nombreContenido}}
          <li class="list-group-item collapse multi-collapse" *ngFor="let subObj of obj.subTemas" [id]="obj.refNombre">{{subObj.nombreContenido}}</li>
        </ul-->
        <ul class="list-group" *ngFor="let obj of objeto.contenido"> {{obj.codigoContenido}} -
          {{obj.nombreContenido}}
          <li class="list-group-item" *ngFor="let subObj of obj.subTemas" [id]="obj.refNombre">
            {{subObj.nombreContenido}}</li>
        </ul>
      </div>
      <div class="col-md-9 col-sm-6">
        <nav class="nav nav-pills nav-fill">
          <a class="nav-item nav-link"><button class="btn btn-default navbar-btn">
              <span class="icon fa fa-chevron-left" aria-hidden="true">
                <span class="">Anterior</span>
              </span>
            </button></a>
          <a class="nav-item nav-link" (click)="mostrar(3)">
            <i class="fa fa-book"></i>
          </a>
          <a class="nav-item nav-link" (click)="mostrar(1)">
            <i class="fa fa-youtube"></i>
          </a>
          <a class="nav-item nav-link disabled" tabindex="-1" aria-disabled="true">
            <button class="btn btn-default navbar-btn">
              <span class="">Siguiente</span>
              <span class="icon fa fa-chevron-right" aria-hidden="true"></span>
            </button>
          </a>
        </nav>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe id="recuadro" class="embed-responsive-item" allowfullscreen></iframe>
        </div>

      </div>
    </div>
  </form>
</div>